.hero {
  height: 100vh;
  background-image: url("/images/hero2.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.nav-sub {
  list-style: none;
  display: flex;
  gap: 25px;
  align-items: center;
  margin-right: 20px;
  flex-shrink: 0;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  font-family: sans-serif;
}

.nav-link.active {
  color: rgb(255, 153, 0);
}

.nav-link:hover {
  color: #d4af37;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  padding-top: 150px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.company-name {
  color: white;

  font-size: 50px;
  font-weight: 700;
}

.new-logo {
  width: 200px;
}

@media (max-width: 500px) {
  nav.main-nav {
    height: 100px;
    gap: 10px;
  }

  img.new-logo {
    width: 100px;
  }

  ul.nav-sub {
    gap: 10px;
    margin-right: 0px;
    padding-left: 0px;
    display: none;
  }

  div.logo-menu {
    display: block;
    margin-right: 20px;
  }

  img.sidebar {
    height: 50px;
  }

  a.nav-link {
    font-size: 15px;
  }

  button.contact-btn {
    font-size: 15px;
    padding: 6px;
    margin-right: 10px;
  }

  div.hero-text {
    padding-top: 20px;
  }

  header.hero {
    background-size: cover;
    background-position: center top;
    height: 80vh;
  }

  div.company-name {
    font-size: 30px;
  }

  div.subtitle {
    font-size: 25px;
  }

  div.page-description {
    margin-top: 50px;
    font-size: 30px;
  }

  div.page-description-note {
    font-size: 18px;
  }

  div.cards-container {
    grid-template-columns: 1fr;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px 30px;
  }

  h2 {
    text-align: center;
  }

  div.card-grid {
    grid-template-columns: 1fr;
  }
  div.set-experience2 {
    font-size: 15px;
  }

  div.cards-container2 {
    max-width: 500px;
    margin: 0 auto;
    padding: 40px 30px;
  }

  div.card-group2 {
    grid-template-columns: 1fr;
  }

  img.equipment-image {
    height: 400px;
  }
}

@media (min-width: 501px) and (max-width: 720px) {
  nav.main-nav {
    height: 100px;
    gap: 10px;
  }

  img.new-logo {
    width: 100px;
  }

  ul.nav-sub {
    gap: 10px;
    margin-right: 0px;
    padding-left: 0px;
    display: none;
  }

  div.logo-menu {
    display: block;
    margin-right: 20px;
  }

  img.sidebar {
    height: 50px;
  }
  ul.nav-sub {
    display: none;
  }

  div.hero-text {
    padding-top: 10px;
  }

  div.subtitle {
    padding-top: 40px;
  }

  div.page-description {
    margin-top: 70px;
  }

  div.cards-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 60px;
    grid-template-columns: 1fr;
  }

  h2 {
    text-align: center;
  }

  div.card-grid {
    grid-template-columns: 1fr;
  }

  div.card-group2 {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 60px;
    grid-template-columns: 1fr;
  }

  div.set-experience2 {
    margin-bottom: 30px;
  }

  img.equipment-image {
    height: 420px;
  }
}

@media (min-width: 721px) and (max-width: 1100px) {
  div.cards-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 100px;
    grid-template-columns: 1fr;
  }

  h2 {
    text-align: center;
  }

  div.card-grid {
    grid-template-columns: 1fr 1fr;
  }

  div.cards-container2 {
    max-width: 1100px;
    margin: 0 auto;
    padding: 70px 100px;
  }

  div.card-group2 {
    grid-template-columns: 1fr 1fr;
  }
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  height: 146px;
  max-width: 100%;
}

.contact-btn {
  background: rgb(255, 153, 0);
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  padding: 10px;
  border-radius: 10px;
}

.logo-nav {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  top: 40px;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 8px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease;
}

.logo-menu a {
  padding: 12px 20px;
  color: white;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo-menu a:hover {
  background-color: white;
  color: black;
}

.logo-menu {
  position: relative;
  display: none;
}

.logo-menu:hover .logo-nav {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.sidebar {
  cursor: pointer;
}

.fa-envelope,
.fa-phone,
.fa-house {
  color: rgb(255, 153, 0);
}

.contact-dropdown {
  position: absolute;
  top: 60px;
  right: 0;
  background: #111;
  padding: 10px;
  border-radius: 8px;
  min-width: 260px;
  display: flex;
  flex-direction: column;

  gap: 20px;

  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: all 0.6s ease;
}

.contact-items:hover .contact-dropdown {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.contact-item {
  position: relative;
}

.subtitle {
  color: rgb(233, 138, 22);
  font-size: 40px;
  font-weight: 600;
  margin-top: 40px;
}

.page-description {
  color: rgb(207, 207, 207);
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: 80px;
}

.page-description-note {
  color: rgb(207, 207, 207);
  font-size: 20px;

  line-height: 1.5;
}

.hero-text {
}

.hero-btn {
  background-color: rgb(233, 138, 22);
  color: black;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
}

.cards-section {
  padding: 40px 20px;
  padding-bottom: 0px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px;
  max-width: 1400px;
  padding: 20px 0px;
  margin: 0 auto;
}

.card-group {
  width: 100%;
  cursor: pointer;
}

.card-group h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  color: white;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  background-color: #1a1a1a;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  text-align: center;
  transition: transform 0.3s ease;
}

.equipment-image {
  width: 100%;
  height: 320px;

  object-fit: cover;
  filter: brightness(80%);
}

.equipment-name {
  padding: 10px;
  font-size: 16px;
  color: #ccc;
}

.card:hover {
  transform: translateY(-6px);
}

.section-link {
  background-color: rgb(233, 138, 22);
  color: black;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
}

.section-link:hover {
  background-color: rgb(233, 113, 22);
}

.address-div {
  margin-bottom: 10px;
  font-size: 20px;

  background-color: burlywood;
  display: inline-block;
  padding: 10px;
  border-radius: 4px;
  margin-right: 20px;
}

.cards-container2 {
  padding-top: 40px;
  max-width: 1400px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.set-experience {
  text-align: center;
  color: rgb(219, 218, 218);
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.set-experience2 {
  text-align: center;
  color: rgb(219, 218, 218);
  font-size: 20px;
}

.card-group2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin-top: 40px;
}

.work-image {
  width: 100%;
  height: 320px;
  object-fit: cover;

  filter: brightness(70%);
  cursor: pointer;
  transition: transform 1s ease;
}

.work-image-div {
  overflow: hidden;
  border-radius: 8px;
}

.work-image-div:hover .work-image {
  transform: scale(1.1);
}
